<?xml version="1.0"?>
<robot name="cr_hand_urdf" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="yaml_file" value="$(find cr_hand_urdf)/config/sensor_parameters.yaml" />
    <xacro:property name="params_dict" value="${xacro.load_yaml(yaml_file)}" />
    <xacro:property name="L2D_params" value="${params_dict['L2D']}" />
    <xacro:property name="L3D_params" value="${params_dict['L3D']}" />
    <xacro:property name="DCAM_params" value="${params_dict['DCAM']}" />
    <xacro:property name="CAM_params" value="${params_dict['CAM']}" />
    <xacro:property name="IMU_params" value="${params_dict['IMU']}" />
    <xacro:property name="GPS_params" value="${params_dict['GPS']}" />
    <xacro:property name="P3D_params" value="${params_dict['P3D']}" />
</robot>